[SETTINGS]
APIID=44500
APIKEY=45c23e4d-432a-469c-ac3e-feb952c6be28
SAVE_LOCALLY=YES
PROCESS_DIR= /tmp/processed/
BASEURL=https://logs1.incapsula.com/8712_710734/
USEPROXY=NO
PROXYSERVER=
SYSLOG_ENABLE=YES
SYSLOG_ADDRESS=10.0.73.200
SYSLOG_PORT=514
SYSLOG_PROTO=TCP
USE_CUSTOM_CA_FILE=NO
CUSTOM_CA_FILE=
