[SETTINGS]
APIID=123456789
APIKEY=xxxxx-xxxxx-xxxxx-xxxxx
SAVE_LOCALLY=YES
PROCESS_DIR=/tmp/processed/
ARCHIVE_DIR=
BASEURL=https://logs1.incapsula.com/123456_456789/
USEPROXY=NO
PROXYSERVER=
SYSLOG_ENABLE=NO
SYSLOG_ADDRESS=
SYSLOG_PORT=
SYSLOG_PROTO=TCP
USE_CUSTOM_CA_FILE=NO
CUSTOM_CA_FILE=
SPLUNK_HEC=NO
SPLUNK_HEC_IP=
SPLUNK_HEC_PORT=
SPLUNK_HEC_TOKEN=
SPLUNK_HEC_SRC_HOSTNAME=
SPLUNK_HEC_INDEX=
SPLUNK_HEC_SOURCE=
SPLUNK_HEC_SOURCETYPE=
